.about-section {
  padding: 1.5rem;
  flex: 1;
}

.about-div-class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.about-div-class h2 {
  font-size: 4rem;
  font-weight: bold;
  font-family: italic;
}

.about-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-info img {
  width: 100%;
  max-width: 300px;
  border-radius: 100%;
  transition: 0.3s ease;
}

.about-info img:hover {
  transform: scale(1.1);
}

.about-info-paragraphs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.about-info-paragraphs p {
  font-size: 1.5rem;
}

.about-me-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.skill-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: 0.3s ease;
}

.skill-logo:hover {
  transform: scale(1.1);
}

.skill-logo img {
  width: 100%;
  max-width: 210px;
  border-radius: 50px;
}

.skill-logo p {
  font-size: 2rem;
  font-weight: 100;
}