* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(198, 189, 189);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}